<p id="notice"><%= notice %></p>
<div class="col-md-12">
<% @rooms.each do |room| %>
<%= link_to room_path(room) do  %>
<% if room.availability == false %>
<div class="room-box box-red">
  <%= room.room_number %></br>
  <% if room.neatness == false %>
  <div class="neat-border border-red">
  </div>
  <% elsif room.neatness == true %>
  <div class="neat-border border-green">
  </div>
  <% end %>
</div>
<% elsif room.availability == true %>
<div class="room-box box-green">
  <%= room.room_number %></br>
  <% if room.neatness == false %>
  <div class="neat-border border-red">
  </div>
  <% elsif room.neatness == true %>
  <div class="neat-border border-green">
  </div>
  <% end %>
</div>
<% end %>
<% end %>
<% end %>

</div>